.dashboard {
  background-image: url("https://images.klipfolio.com/website/public/5a275fee-d42b-4f31-91f6-8148d4d729af/executive%20dashboard.png");
  background-position: center;
  background-repeat: no-repeat;
background-size: contain;
height: 100vh;
}
